.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.header-menu-list {
  display: flex;
  column-gap: 50px;
}

.header-menu-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
}
